Repository SferaDev/SferaDev: changes, and which lefthook commands are due for each by the changed paths.
All: format, check

format:
  run: pnpm format
  stage_fixed: true

check:
  run: pnpm check:fix
  stage_fixed: true

Don't fail fast
  apps/website/vercel.ts
Due: format, check

Update README
  .changeset/streaming-hooks-update.md
  .github/workflows/release.yml
  packages/ai-gateway-proxy/README.md
Due: format

Update README (#14)
  .changeset/streaming-hooks-update.md
  .github/workflows/release.yml
  packages/ai-gateway-proxy/README.md
Due: format

Detect if mintlify deploy is available (#13)
  apps/website/vercel.ts
Due: format, check

Update package.json
  packages/ai-gateway-proxy/package.json
Due: format, check

Remove provenance
  .github/workflows/release.yml
Due: none

Move provenance
  .github/workflows/release.yml
  packages/ai-gateway-proxy/package.json
Due: format, check

Add support for other frameworks
  .changeset/framework-agnostic-proxy.md
  content/docs/packages/ai-gateway-proxy.mdx
  packages/ai-gateway-proxy/README.md
  packages/ai-gateway-proxy/src/integration.test.ts
  packages/ai-gateway-proxy/src/proxy.ts
  packages/ai-gateway-proxy/src/types.ts
Due: format, check

Add support for other frameworks (#16)
  .changeset/framework-agnostic-proxy.md
  content/docs/packages/ai-gateway-proxy.mdx
  packages/ai-gateway-proxy/README.md
  packages/ai-gateway-proxy/src/integration.test.ts
  packages/ai-gateway-proxy/src/proxy.ts
  packages/ai-gateway-proxy/src/types.ts
Due: format, check

Add rollup-plugin-import-cdn package to monorepo
  packages/rollup-plugin-import-cdn/CHANGELOG.md
  packages/rollup-plugin-import-cdn/LICENSE
  packages/rollup-plugin-import-cdn/README.md
  packages/rollup-plugin-import-cdn/package.json
  packages/rollup-plugin-import-cdn/src/index.ts
  packages/rollup-plugin-import-cdn/src/load.ts
  packages/rollup-plugin-import-cdn/src/types.ts
  packages/rollup-plugin-import-cdn/src/utils.ts
  packages/rollup-plugin-import-cdn/tsconfig.json
  packages/rollup-plugin-import-cdn/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Delete packages/rollup-plugin-import-cdn/CHANGELOG.md
  packages/rollup-plugin-import-cdn/CHANGELOG.md
Due: format

Add tests and documentation for rollup-plugin-import-cdn
  content/docs/packages/rollup-plugin-import-cdn.mdx
  packages/rollup-plugin-import-cdn/README.md
  packages/rollup-plugin-import-cdn/src/index.test.ts
  packages/rollup-plugin-import-cdn/src/integration.test.ts
  packages/rollup-plugin-import-cdn/src/load.test.ts
Due: format, check

feat: migrate vscode-extension-vercel-ai to monorepo
  .changeset/config.json
  .github/workflows/vsce-release.yml
  apps/vscode-extension/.vscode/launch.json
  apps/vscode-extension/.vscode/settings.json
  apps/vscode-extension/.vscode/tasks.json
  apps/vscode-extension/.vscodeignore
  apps/vscode-extension/CHANGELOG.md
  apps/vscode-extension/LICENSE
  apps/vscode-extension/README.md
  apps/vscode-extension/eslint.config.mjs
  apps/vscode-extension/images/icon.png
  apps/vscode-extension/package.json
  apps/vscode-extension/src/auth.ts
  apps/vscode-extension/src/constants.ts
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/models.ts
  apps/vscode-extension/src/provider.ts
  apps/vscode-extension/src/vercel-auth.ts
  apps/vscode-extension/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: format, check

Simplify README and point to docs site for full documentation
  packages/rollup-plugin-import-cdn/README.md
Due: format

Migrate rollup-plugin-import-cdn to monorepo (#18)
  content/docs/packages/rollup-plugin-import-cdn.mdx
  packages/rollup-plugin-import-cdn/LICENSE
  packages/rollup-plugin-import-cdn/README.md
  packages/rollup-plugin-import-cdn/package.json
  packages/rollup-plugin-import-cdn/src/index.test.ts
  packages/rollup-plugin-import-cdn/src/index.ts
  packages/rollup-plugin-import-cdn/src/integration.test.ts
  packages/rollup-plugin-import-cdn/src/load.test.ts
  packages/rollup-plugin-import-cdn/src/load.ts
  packages/rollup-plugin-import-cdn/src/types.ts
  packages/rollup-plugin-import-cdn/src/utils.ts
  packages/rollup-plugin-import-cdn/tsconfig.json
  packages/rollup-plugin-import-cdn/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

refactor: integrate VSCE publishing with changesets workflow
  .changeset/config.json
  .github/workflows/release.yml
  .github/workflows/vsce-release.yml
  apps/vscode-extension/package.json
Due: format, check

Apply suggestions from code review
  .github/workflows/release.yml
Due: none

Add rollup-plugin-import-cdn to docs navigation and index
  content/docs.json
  content/docs/index.mdx
Due: format, check

Add rollup-plugin-import-cdn to index and docs (#21)
  content/docs.json
  content/docs/index.mdx
Due: format, check

Sync Mintlify docs theme with website
  content/docs.json
Due: format, check

Update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Fix dependency update workflow
  .github/workflows/update-dependencies.yml
Due: none

Downgrade turbo for workflow testing
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix CI and improve dependency update workflow (#24)
  .github/workflows/update-dependencies.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update dependencies (#25)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

fix: restore VSCE publish step in release workflow
  .github/workflows/release.yml
Due: none

refactor: integrate VSCE publish into root release script
  .github/workflows/release.yml
  package.json
Due: format, check

docs: add comprehensive documentation for VSCode extension
  .github/workflows/release.yml
  apps/vscode-extension/README.md
  apps/vscode-extension/tsconfig.json
  content/docs.json
  content/docs/packages/vscode-extension-vercel-ai.mdx
  package.json
Due: format, check

refactor: use tag-triggered workflow for VSCE publishing
  .github/workflows/release.yml
  .github/workflows/vsce-release.yml
Due: none

refactor: integrate VSCE publishing with changesets workflow
  .github/workflows/release.yml
  .github/workflows/vsce-release.yml
  package.json
  scripts/release.sh
Due: format, check

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: exclude openapi-website from changesets
  .changeset/config.json
  apps/openapi/CHANGELOG.md
Due: format, check

refactor(vscode-extension): migrate to biome, monorepo tsconfig, and catalog versions
  apps/vscode-extension/eslint.config.mjs
  apps/vscode-extension/package.json
  apps/vscode-extension/src/models.ts
  apps/vscode-extension/src/provider.ts
  apps/vscode-extension/src/vercel-auth.ts
  apps/vscode-extension/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Add gitignore
  apps/vscode-extension/.gitignore
Due: none

Migrate Vercel AI extension to monorepo (#20)
  .github/workflows/release.yml
  apps/vscode-extension/.gitignore
  apps/vscode-extension/.vscode/launch.json
  apps/vscode-extension/.vscode/settings.json
  apps/vscode-extension/.vscode/tasks.json
  apps/vscode-extension/.vscodeignore
  apps/vscode-extension/CHANGELOG.md
  apps/vscode-extension/LICENSE
  apps/vscode-extension/README.md
  apps/vscode-extension/images/icon.png
  apps/vscode-extension/package.json
  apps/vscode-extension/src/auth.ts
  apps/vscode-extension/src/constants.ts
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/models.ts
  apps/vscode-extension/src/provider.ts
  apps/vscode-extension/src/vercel-auth.ts
  apps/vscode-extension/tsconfig.json
  content/docs.json
  content/docs/packages/vscode-extension-vercel-ai.mdx
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/release.sh
  turbo.json
Due: format, check

Fix vsce failing to parse @types/vscode semver
  apps/vscode-extension/package.json
Due: format, check

Path conditions:
  format: any of: *.{js,ts,tsx,json,md}
  check: any of: *.{js,ts,tsx,json}
