Repository SferaDev/SferaDev: changes, and which lefthook commands are due for each by the changed paths.
All: format, check

format:
  run: pnpm format
  stage_fixed: true

check:
  run: pnpm check:fix
  stage_fixed: true

Rename vscode-extension to vscode-ai-gateway
  apps/vscode-ai-gateway/.gitignore
  apps/vscode-ai-gateway/.vscode/launch.json
  apps/vscode-ai-gateway/.vscode/settings.json
  apps/vscode-ai-gateway/.vscode/tasks.json
  apps/vscode-ai-gateway/.vscodeignore
  apps/vscode-ai-gateway/CHANGELOG.md
  apps/vscode-ai-gateway/LICENSE
  apps/vscode-ai-gateway/README.md
  apps/vscode-ai-gateway/images/icon.png
  apps/vscode-ai-gateway/package.json
  apps/vscode-ai-gateway/src/auth.ts
  apps/vscode-ai-gateway/src/constants.ts
  apps/vscode-ai-gateway/src/extension.ts
  apps/vscode-ai-gateway/src/models.ts
  apps/vscode-ai-gateway/src/provider.ts
  apps/vscode-ai-gateway/src/vercel-auth.ts
  apps/vscode-ai-gateway/tsconfig.json
  content/docs/packages/vscode-extension-vercel-ai.mdx
  pnpm-lock.yaml
  scripts/release.sh
Due: format, check

Fix npm package publishing version conflicts (#27)
  apps/vscode-extension/package.json
Due: format, check

Fix lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Don't publish twice
  apps/vscode-ai-gateway/README.md
  scripts/release.sh
Due: format

Add changeset
  .changeset/fifty-humans-follow.md
Due: format

Rename vscode-extension to vscode-ai-gateway (#28)
  .changeset/fifty-humans-follow.md
  apps/vscode-ai-gateway/.gitignore
  apps/vscode-ai-gateway/.vscode/launch.json
  apps/vscode-ai-gateway/.vscode/settings.json
  apps/vscode-ai-gateway/.vscode/tasks.json
  apps/vscode-ai-gateway/.vscodeignore
  apps/vscode-ai-gateway/CHANGELOG.md
  apps/vscode-ai-gateway/LICENSE
  apps/vscode-ai-gateway/README.md
  apps/vscode-ai-gateway/images/icon.png
  apps/vscode-ai-gateway/package.json
  apps/vscode-ai-gateway/src/auth.ts
  apps/vscode-ai-gateway/src/constants.ts
  apps/vscode-ai-gateway/src/extension.ts
  apps/vscode-ai-gateway/src/models.ts
  apps/vscode-ai-gateway/src/provider.ts
  apps/vscode-ai-gateway/src/vercel-auth.ts
  apps/vscode-ai-gateway/tsconfig.json
  content/docs/packages/vscode-extension-vercel-ai.mdx
  pnpm-lock.yaml
  scripts/release.sh
Due: format, check

Fix auth session bugs in VSCode extension
  apps/vscode-extension/package.json
  apps/vscode-extension/src/auth.test.ts
  apps/vscode-extension/src/auth.ts
  apps/vscode-extension/src/vercel-auth.test.ts
  apps/vscode-extension/src/vercel-auth.ts
  pnpm-lock.yaml
Due: format, check

Use GIT_TOKEN for version packages PR
  .github/workflows/release.yml
Due: none

Use GIT_TOKEN for version packages PR (#30)
  .github/workflows/release.yml
Due: none

Fix auth session bugs in VSCode extension
  .changeset/blue-items-attend.md
Due: format

Fix VS Marketplace race condition during concurrent CI runs
  scripts/release.sh
Due: none

Fix auth session bugs in VSCode extension (#31)
  .changeset/blue-items-attend.md
  apps/vscode-ai-gateway/package.json
  apps/vscode-ai-gateway/src/auth.test.ts
  apps/vscode-ai-gateway/src/auth.ts
  apps/vscode-ai-gateway/src/vercel-auth.test.ts
  apps/vscode-ai-gateway/src/vercel-auth.ts
  pnpm-lock.yaml
Due: format, check

Version Packages (#32)
  .changeset/blue-items-attend.md
  apps/vscode-ai-gateway/CHANGELOG.md
  apps/vscode-ai-gateway/package.json
Due: format, check

Fix VS Marketplace publishing race condition (#33)
  scripts/release.sh
Due: none

Fix concurrency matrix reference in update-openapi workflow
  .github/workflows/update-openapi.yml
Due: none

Add name field to update-openapi.yml (#35)
  .github/workflows/update-openapi.yml
Due: none

Update dependencies
  apps/openapi/package.json
  apps/vscode-ai-gateway/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Fix update-openapi CI workflow missing dependencies
  .github/workflows/update-openapi.yml
  package.json
  packages/cloudflare-api/package.json
  packages/keycloak-api/package.json
  packages/litellm-api/package.json
  packages/netlify-api/package.json
  packages/nuki-api-js/package.json
  packages/zoom-api-js/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Fix OpenAPI code generation in CI workflow (#37)
  .github/workflows/update-openapi.yml
  package.json
  packages/cloudflare-api/package.json
  packages/keycloak-api/package.json
  packages/litellm-api/package.json
  packages/netlify-api/package.json
  packages/nuki-api-js/package.json
  packages/zoom-api-js/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Fix vsce publish and pin catalog versions
  apps/vscode-ai-gateway/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Fix vsce publish and pin catalog versions (#43)
  apps/vscode-ai-gateway/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Update OpenAPI workflow and migrate to Vercel AI SDK
  .github/workflows/scripts/changes.ts
  .github/workflows/update-openapi.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Fix bunchee build target to prevent @swc/helpers runtime dependency
  configs/tsconfig/base.json
  configs/tsconfig/react-library.json
Due: format, check

Update OpenAPI workflow and migrate to Vercel AI SDK (#44)
  .github/workflows/scripts/changes.ts
  .github/workflows/update-openapi.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Fix bunchee build target to prevent @swc/helpers runtime dependency (#45)
  configs/tsconfig/base.json
  configs/tsconfig/react-library.json
Due: format, check

Update dependencies (#36)
  apps/openapi/package.json
  apps/vscode-ai-gateway/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Include openapi-utils and openapi app in biome checks
  apps/openapi/components.json
  apps/openapi/drizzle.config.ts
  apps/openapi/drizzle/meta/0000_snapshot.json
  apps/openapi/drizzle/meta/0001_snapshot.json
  apps/openapi/drizzle/meta/_journal.json
  apps/openapi/next.config.ts
  apps/openapi/src/app/api/auth/[...nextauth]/route.ts
  apps/openapi/src/app/api/oauth/[...route]/route.tsx
  apps/openapi/src/app/api/vercel/[transport]/route.ts
  apps/openapi/src/app/layout.tsx
  apps/openapi/src/app/page.tsx
  apps/openapi/src/components/code-block.tsx
  apps/openapi/src/components/hero-header.tsx
  apps/openapi/src/components/provider-card.tsx
  apps/openapi/src/components/ui/badge.tsx
  apps/openapi/src/components/ui/button.tsx
  apps/openapi/src/components/ui/card.tsx
  apps/openapi/src/components/ui/select.tsx
  apps/openapi/src/components/ui/tabs.tsx
  apps/openapi/src/lib/auth.ts
  apps/openapi/src/lib/db.ts
  apps/openapi/src/lib/mcpauth.ts
  apps/openapi/src/lib/npm.ts
  apps/openapi/src/lib/schema.ts
  apps/openapi/src/lib/types.ts
  apps/openapi/src/lib/utils.ts
  apps/openapi/tsconfig.json
  biome.json
  packages/openapi-utils/src/kubb/client/extra.tsx
  packages/openapi-utils/src/kubb/client/operations.tsx
  packages/openapi-utils/src/kubb/components/client-operation.tsx
  packages/openapi-utils/src/kubb/mcp/server.tsx
  packages/openapi-utils/src/kubb/mcp/tools.tsx
Due: format, check

Add knip to check task
  package.json
Due: format, check

Fixes for OpenAPI clients
  .gitignore
  configs/tsconfig/base.json
  packages/keycloak-api/specs/account.yaml
  packages/openapi-utils/package.json
  packages/openapi-utils/src/kubb/client/extra.tsx
  packages/openapi-utils/src/kubb/client/operations.tsx
  packages/openapi-utils/src/kubb/components/client-operation.tsx
  packages/openapi-utils/src/kubb/index.ts
  packages/openapi-utils/src/kubb/mcp/server.tsx
  packages/openapi-utils/src/kubb/mcp/tools.tsx
  packages/openapi-utils/tsconfig.json
  packages/v0-api/src/generated/.kubb/config.ts
  packages/v0-api/tsconfig.json
  packages/vercel-api-js/src/generated/.kubb/config.ts
  packages/vercel-api-js/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: format, check

Fix knip errors and clean up dead code
  apps/openapi/package.json
  apps/openapi/src/components/ui/select.tsx
  configs/knip.json
  packages/cloudflare-api/src/api/parameters.ts
  packages/dhis2-openapi/package.json
  packages/dhis2-openapi/src/api/v40/index.ts
  packages/dhis2-openapi/src/api/v40/parameters.ts
  packages/dhis2-openapi/src/api/v41/index.ts
  packages/dhis2-openapi/src/api/v41/parameters.ts
  packages/litellm-api/src/utils/fetch.ts
  packages/nuki-api-js/src/utils/fetch.ts
  packages/v0-api/src/utils/fetch.ts
  packages/zoom-api-js/src/utils/fetch.ts
  packages/zoom-api-js/src/utils/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Fixes for OpenAPI clients (#48)
  .gitignore
  configs/tsconfig/base.json
  packages/keycloak-api/specs/account.yaml
  packages/openapi-utils/package.json
  packages/openapi-utils/src/kubb/client/extra.tsx
  packages/openapi-utils/src/kubb/client/operations.tsx
  packages/openapi-utils/src/kubb/components/client-operation.tsx
  packages/openapi-utils/src/kubb/index.ts
  packages/openapi-utils/src/kubb/mcp/server.tsx
  packages/openapi-utils/src/kubb/mcp/tools.tsx
  packages/openapi-utils/tsconfig.json
  packages/v0-api/src/generated/.kubb/config.ts
  packages/v0-api/tsconfig.json
  packages/vercel-api-js/src/generated/.kubb/config.ts
  packages/vercel-api-js/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: format, check

Reduce git diff output
  .github/workflows/scripts/changes.ts
  package.json
  pnpm-lock.yaml
Due: format, check

Format generated files
  biome.json
  packages/litellm-api/openapi-codegen.config.ts
  packages/openapi-utils/src/kubb/index.ts
  packages/v0-api/src/generated/.kubb/config.ts
  packages/vercel-api-js/src/generated/.kubb/config.ts
  turbo.json
Due: format, check

Remove format command
  .github/workflows/ci.yml
  .github/workflows/update-dependencies.yml
  .github/workflows/update-openapi.yml
  apps/website/README.md
  lefthook.yml
  package.json
Due: format, check

Update OpenAPI Spec
  .changeset/0sp55n.md
  .changeset/2s089c.md
  .changeset/k86eoy.md
  .changeset/rekx1g.md
  packages/netlify-api/src/api/components.ts
Due: format, check

Path conditions:
  format: any of: *.{js,ts,tsx,json,md}
  check: any of: *.{js,ts,tsx,json}
