Repository SferaDev/SferaDev: changes, and which lefthook commands are due for each by the changed paths.
All: format, check

format:
  run: pnpm format
  stage_fixed: true

check:
  run: pnpm check:fix
  stage_fixed: true

Update OpenAPI Spec
  .changeset/36zcql.md
  .changeset/ha4529.md
  .changeset/u42wru.md
  .changeset/z3bk5.md
  packages/keycloak-api/src/account/components.ts
  packages/keycloak-api/src/admin/components.ts
  packages/keycloak-api/src/admin/schemas.ts
Due: format, check

Update OpenAPI Spec
  .changeset/6rprbw.md
  .changeset/bpotjh.md
  .changeset/s1p3t8.md
  .changeset/xhemvsh.md
  packages/zoom-api-js/src/meeting/components.ts
Due: format, check

Update OpenAPI Spec
  .changeset/el2gf.md
  .changeset/mmtycd.md
  .changeset/yle7ym.md
  packages/nuki-api-js/src/api/components.ts
Due: format, check

[OpenAPI] Spec updates for netlify-api (#40)
  .changeset/0sp55n.md
  .changeset/2s089c.md
  .changeset/k86eoy.md
  .changeset/rekx1g.md
  packages/netlify-api/src/api/components.ts
Due: format, check

Delete .changeset/36zcql.md
  .changeset/36zcql.md
Due: format

Delete .changeset/z3bk5.md
  .changeset/z3bk5.md
Due: format

Delete .changeset/xhemvsh.md
  .changeset/xhemvsh.md
Due: format

Delete .changeset/s1p3t8.md
  .changeset/s1p3t8.md
Due: format

Delete .changeset/6rprbw.md
  .changeset/6rprbw.md
Due: format

Delete .changeset/mmtycd.md
  .changeset/mmtycd.md
Due: format

Delete .changeset/yle7ym.md
  .changeset/yle7ym.md
Due: format

[OpenAPI] Spec updates for keycloak-api (#49)
  .changeset/ha4529.md
  .changeset/u42wru.md
  packages/keycloak-api/src/account/components.ts
  packages/keycloak-api/src/admin/components.ts
  packages/keycloak-api/src/admin/schemas.ts
Due: format, check

Run formatter before diff
  .github/workflows/update-openapi.yml
Due: none

[OpenAPI] Spec updates for zoom-api-js (#38)
  .changeset/bpotjh.md
  packages/zoom-api-js/src/meeting/components.ts
Due: format, check

[OpenAPI] Spec updates for nuki-api-js (#39)
  .changeset/el2gf.md
  packages/nuki-api-js/src/api/components.ts
Due: format, check

Run formatter before diff (#50)
  .github/workflows/update-openapi.yml
Due: none

Clean-up old packages
  .changeset/openapi-clients-minor.md
  apps/openapi/src/lib/npm.ts
  configs/knip.json
  content/docs.json
  content/docs/packages/dhis2-openapi.mdx
  content/docs/packages/openapi-clients.mdx
  turbo.json
Due: format, check

Clean-up old packages (#51)
  .changeset/openapi-clients-minor.md
  apps/openapi/src/lib/npm.ts
  configs/knip.json
  content/docs.json
  content/docs/packages/dhis2-openapi.mdx
  content/docs/packages/openapi-clients.mdx
  turbo.json
Due: format, check

Update OpenAPI Spec
  .changeset/2pzxvh.md
  .changeset/8ohffo.md
  .changeset/9frpaq.md
  .changeset/ctx1tw.md
  .changeset/dyagt.md
  .changeset/mwb39.md
  .changeset/na6vdf.md
  .changeset/nis6l6.md
  .changeset/qzrq08.md
  .changeset/tawyz.md
  .changeset/tkhyx.md
  .changeset/wfwqq29.md
  .changeset/xtxra.md
  packages/vercel-api-js/src/generated/components.ts
  packages/vercel-api-js/src/generated/mcp.ts
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

[OpenAPI] Spec updates for vercel-api-js (#41)
  .changeset/2pzxvh.md
  .changeset/8ohffo.md
  .changeset/9frpaq.md
  .changeset/ctx1tw.md
  .changeset/dyagt.md
  .changeset/mwb39.md
  .changeset/na6vdf.md
  .changeset/nis6l6.md
  .changeset/qzrq08.md
  .changeset/tawyz.md
  .changeset/tkhyx.md
  .changeset/wfwqq29.md
  .changeset/xtxra.md
  packages/vercel-api-js/src/generated/components.ts
  packages/vercel-api-js/src/generated/mcp.ts
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

Restore and export parameters.ts in cloudflare-api
  configs/knip.json
  packages/cloudflare-api/src/api/parameters.ts
  packages/cloudflare-api/src/index.ts
Due: format, check

Add knip to check task (#47)
  apps/openapi/package.json
  apps/openapi/src/components/ui/select.tsx
  configs/knip.json
  package.json
  packages/cloudflare-api/src/index.ts
  packages/litellm-api/src/utils/fetch.ts
  packages/nuki-api-js/src/utils/fetch.ts
  packages/v0-api/src/utils/fetch.ts
  packages/zoom-api-js/src/utils/fetch.ts
  packages/zoom-api-js/src/utils/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Update README and website content with current role and focus
  README.md
  apps/website/lib/data.ts
Due: format, check

Update README and website content (#52)
  README.md
  apps/website/lib/data.ts
Due: format, check

Fix TypeScript errors in OpenAPI clients
  packages/cloudflare-api/openapi-codegen.config.ts
  packages/cloudflare-api/src/api/parameters.ts
  packages/cloudflare-api/src/api/responses.ts
  packages/openapi-utils/src/kubb/index.ts
  packages/v0-api/src/generated/mcp.ts
  packages/vercel-api-js/src/generated/mcp.ts
  packages/vercel-api-js/src/utils/fetcher.ts
Due: format, check

feat(kubb): Enable tree-shaking for vercel-api-js and v0-api
  packages/v0-api/package.json
  packages/v0-api/src/components.ts
  packages/v0-api/src/index.ts
  packages/v0-api/src/schemas.ts
  packages/v0-api/src/types.ts
  packages/vercel-api-js/package.json
  packages/vercel-api-js/src/components.ts
  packages/vercel-api-js/src/index.ts
  packages/vercel-api-js/src/schemas.ts
  packages/vercel-api-js/src/types.ts
Due: format, check

Fix turbo
  turbo.json
Due: format, check

Apply suggestions from code review
  packages/v0-api/src/index.ts
  packages/vercel-api-js/src/index.ts
Due: format, check

Update guardrails
  packages/litellm-api/openapi-codegen.config.ts
Due: format, check

Verify OpenAPI clients build after monorepo migration (#53)
  packages/cloudflare-api/openapi-codegen.config.ts
  packages/cloudflare-api/src/api/parameters.ts
  packages/cloudflare-api/src/api/responses.ts
  packages/litellm-api/openapi-codegen.config.ts
  packages/openapi-utils/src/kubb/index.ts
  packages/v0-api/src/generated/mcp.ts
  packages/vercel-api-js/src/generated/mcp.ts
  packages/vercel-api-js/src/utils/fetcher.ts
  turbo.json
Due: format, check

Fixup
  apps/openapi/tsconfig.json
  configs/knip.json
  package.json
  packages/ai-gateway-proxy/package.json
  packages/rollup-plugin-import-cdn/package.json
  packages/v0-api/package.json
  packages/vercel-api-js/package.json
  pnpm-lock.yaml
  turbo.json
Due: format, check

clean
  apps/openapi/tsconfig.json
Due: format, check

lockfile
  pnpm-lock.yaml
Due: none

Make generated clients tree shakeable (#54)
  configs/knip.json
  package.json
  packages/ai-gateway-proxy/package.json
  packages/rollup-plugin-import-cdn/package.json
  packages/v0-api/package.json
  packages/v0-api/src/components.ts
  packages/v0-api/src/index.ts
  packages/v0-api/src/schemas.ts
  packages/v0-api/src/types.ts
  packages/vercel-api-js/package.json
  packages/vercel-api-js/src/components.ts
  packages/vercel-api-js/src/index.ts
  packages/vercel-api-js/src/schemas.ts
  packages/vercel-api-js/src/types.ts
  pnpm-lock.yaml
  turbo.json
Due: format, check

Update OpenAPI Spec
  .changeset/v9511.md
  packages/vercel-api-js/src/generated/mcp.ts
Due: format, check

[OpenAPI] Spec updates for vercel-api-js (#57)
  .changeset/v9511.md
  packages/vercel-api-js/src/generated/mcp.ts
Due: format, check

Update dependencies
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Path conditions:
  format: any of: *.{js,ts,tsx,json,md}
  check: any of: *.{js,ts,tsx,json}
