Repository SferaDev/SferaDev: changes, and which lefthook commands are due for each by the changed paths.
All: format, check

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    format:
      glob: "*.{js,ts,tsx,json,md}"
      run: pnpm format
      stage_fixed: true
    check:
      glob: "*.{js,ts,tsx,json}"
      run: pnpm check:fix
      stage_fixed: true

docs: fix broken Nuki Web API link
  packages/nuki-api-js/README.md
Due: format

docs: fix broken Nuki Web API link (#561)
  packages/nuki-api-js/README.md
Due: format

fix(vscode-ai-gateway): declare vercelAiGateway authentication provider (#558)
  apps/vscode-ai-gateway/package.json
Due: format, check

feat(vscode-ai-gateway): detect capabilities from structured model fields (#559)
  apps/vscode-ai-gateway/src/models.test.ts
  apps/vscode-ai-gateway/src/models.ts
Due: format, check

fix(turbo): stop rebuilding OpenAPI clients from the network
  turbo.json
Due: format, check

fix(turbo): stop rebuilding OpenAPI clients from the network (#562)
  turbo.json
Due: format, check

fix(vscode-ai-gateway): make account switching work
  apps/vscode-ai-gateway/src/auth.test.ts
  apps/vscode-ai-gateway/src/auth.ts
  apps/vscode-ai-gateway/src/extension.ts
  apps/vscode-ai-gateway/src/provider.test.ts
  apps/vscode-ai-gateway/src/provider.ts
Due: format, check

fix(vscode-ai-gateway): make account switching work (#563)
  apps/vscode-ai-gateway/src/auth.test.ts
  apps/vscode-ai-gateway/src/auth.ts
  apps/vscode-ai-gateway/src/extension.ts
  apps/vscode-ai-gateway/src/provider.test.ts
  apps/vscode-ai-gateway/src/provider.ts
Due: format, check

fix(ci): hold pnpm on the 10.x line in the weekly dependency bump
  .github/workflows/update-dependencies.yml
  mise.lock
  mise.toml
  package.json
Due: format, check

fix(ci): hold pnpm on the 10.x line in the weekly dependency bump (#564)
  .github/workflows/update-dependencies.yml
  mise.lock
  mise.toml
  package.json
Due: format, check

docs(skills): add update-dependencies-review skill
  .claude/skills/update-dependencies-review/SKILL.md
  .claude/skills/update-dependencies-review/references/failure-modes.md
  .claude/skills/update-dependencies-review/references/pin-governance.md
  .claude/skills/update-dependencies-review/references/verification.md
Due: format

docs(skills): add update-dependencies-review skill (#565)
  .claude/skills/update-dependencies-review/SKILL.md
  .claude/skills/update-dependencies-review/references/failure-modes.md
  .claude/skills/update-dependencies-review/references/pin-governance.md
  .claude/skills/update-dependencies-review/references/verification.md
Due: format

feat(ci): migrate to pnpm 11
  .github/workflows/update-dependencies.yml
  mise.lock
  mise.toml
  package.json
  pnpm-workspace.yaml
Due: format, check

docs(skills): record the completed pnpm 11 migration
  .claude/skills/update-dependencies-review/references/failure-modes.md
  .claude/skills/update-dependencies-review/references/pin-governance.md
Due: format

feat(ci): migrate to pnpm 11 (#566)
  .claude/skills/update-dependencies-review/references/failure-modes.md
  .claude/skills/update-dependencies-review/references/pin-governance.md
  .github/workflows/update-dependencies.yml
  mise.lock
  mise.toml
  package.json
  pnpm-workspace.yaml
Due: format, check

fix(ci): let the weekly update absorb new build-script dependencies
  .claude/skills/update-dependencies-review/references/failure-modes.md
  .github/workflows/update-dependencies.yml
Due: format

fix(ci): let the weekly update absorb new build-script dependencies (#567)
  .claude/skills/update-dependencies-review/references/failure-modes.md
  .github/workflows/update-dependencies.yml
Due: format

fix(ci): wrap pnpm update too when defaulting new build-script deps
  .github/workflows/update-dependencies.yml
Due: none

fix(ci): wrap pnpm update too when defaulting new build-script deps (#568)
  .github/workflows/update-dependencies.yml
Due: none

Update dependencies
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/update-dependencies.yml
  .github/workflows/update-openapi.yml
  apps/vscode-ai-gateway/package.json
  biome.json
  mise.lock
  mise.toml
  packages/openapi-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

Fix regressions found reviewing the dependency update
  .claude/skills/update-dependencies-review/SKILL.md
  .claude/skills/update-dependencies-review/references/failure-modes.md
  .claude/skills/update-dependencies-review/references/pin-governance.md
  .github/workflows/update-dependencies.yml
  apps/vscode-ai-gateway/package.json
  packages/openapi-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

docs(skills): correct the AI gateway test-coverage claim
  .claude/skills/update-dependencies-review/SKILL.md
Due: format

Update dependencies (#569)
  .claude/skills/update-dependencies-review/SKILL.md
  .claude/skills/update-dependencies-review/references/failure-modes.md
  .claude/skills/update-dependencies-review/references/pin-governance.md
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/update-dependencies.yml
  .github/workflows/update-openapi.yml
  biome.json
  mise.lock
  mise.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

docs(skills): record that the AI gateway key stays out of CI
  .claude/skills/update-dependencies-review/SKILL.md
Due: format

docs(skills): record that the AI gateway key stays out of CI (#570)
  .claude/skills/update-dependencies-review/SKILL.md
Due: format

Update OpenAPI Spec
  .changeset/dvk81p.md
  .changeset/ssyu2k.md
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

[OpenAPI] Spec updates for vercel-api-js (#571)
  .changeset/dvk81p.md
  .changeset/ssyu2k.md
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

chore(vscode-ai-gateway): add changeset for 0.4.0
  .changeset/vscode-account-switching.md
Due: format

chore(vscode-ai-gateway): add changeset for 0.4.0 (#573)
  .changeset/vscode-account-switching.md
Due: format

Version Packages (#572)
  .changeset/dvk81p.md
  .changeset/ssyu2k.md
  .changeset/vscode-account-switching.md
  apps/vscode-ai-gateway/CHANGELOG.md
  apps/vscode-ai-gateway/package.json
  packages/vercel-api-js/CHANGELOG.md
  packages/vercel-api-js/package.json
Due: format, check

Update OpenAPI Spec
  .changeset/d7orz.md
  packages/vercel-api-js/src/generated/components.ts
  packages/vercel-api-js/src/generated/index.ts
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

[OpenAPI] Spec updates for vercel-api-js (#574)
  .changeset/d7orz.md
  packages/vercel-api-js/src/generated/components.ts
  packages/vercel-api-js/src/generated/index.ts
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

Version Packages (#575)
  .changeset/d7orz.md
  packages/vercel-api-js/CHANGELOG.md
  packages/vercel-api-js/package.json
Due: format, check

Update OpenAPI Spec
  .changeset/1t5hvv.md
  .changeset/kjftk9.md
  .changeset/npm79.md
  .changeset/qsgpbm.md
  .changeset/qwg48.md
  .changeset/v024nf.md
  packages/vercel-api-js/src/generated/components.ts
  packages/vercel-api-js/src/generated/index.ts
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

[OpenAPI] Spec updates for vercel-api-js (#576)
  .changeset/1t5hvv.md
  .changeset/kjftk9.md
  .changeset/npm79.md
  .changeset/qsgpbm.md
  .changeset/qwg48.md
  .changeset/v024nf.md
  packages/vercel-api-js/src/generated/components.ts
  packages/vercel-api-js/src/generated/index.ts
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

Update OpenAPI Spec
  .changeset/8eoc7m.md
  packages/v0-api/src/generated/components.ts
Due: format, check

[OpenAPI] Spec updates for v0-api (#578)
  .changeset/8eoc7m.md
  packages/v0-api/src/generated/components.ts
Due: format, check

Version Packages (#577)
  .changeset/1t5hvv.md
  .changeset/8eoc7m.md
  .changeset/kjftk9.md
  .changeset/npm79.md
  .changeset/qsgpbm.md
  .changeset/qwg48.md
  .changeset/v024nf.md
  packages/v0-api/CHANGELOG.md
  packages/v0-api/package.json
  packages/vercel-api-js/CHANGELOG.md
  packages/vercel-api-js/package.json
Due: format, check

Update OpenAPI Spec
  .changeset/3f6uoo.md
  .changeset/5ynhgo.md
  .changeset/ajx0ri.md
  .changeset/ctevl.md
  .changeset/g1ggwr.md
  .changeset/kebcv7.md
  .changeset/l0ebna.md
  .changeset/yuzsli.md
  packages/vercel-api-js/src/generated/index.ts
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

[OpenAPI] Spec updates for vercel-api-js (#579)
  .changeset/3f6uoo.md
  .changeset/5ynhgo.md
  .changeset/ajx0ri.md
  .changeset/ctevl.md
  .changeset/g1ggwr.md
  .changeset/kebcv7.md
  .changeset/l0ebna.md
  .changeset/yuzsli.md
  packages/vercel-api-js/src/generated/index.ts
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check
