Repository SferaDev/SferaDev: changes, and which lefthook commands are due for each by the changed paths.
All: format, check

format:
  run: pnpm format
  stage_fixed: true

check:
  run: pnpm check:fix
  stage_fixed: true

[OpenAPI] Spec updates for cloudflare-api-js (#129)
  packages/cloudflare-api/src/api/schemas.ts
Due: format, check

Update OpenAPI Spec
  .changeset/xoubd.md
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

[OpenAPI] Spec updates for vercel-api-js (#132)
  .changeset/xoubd.md
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

feat(vscode-ai-gateway): comprehensive UIMessageChunk handling
  apps/vscode-ai-gateway/package.json
  apps/vscode-ai-gateway/src/models.ts
  apps/vscode-ai-gateway/src/provider.test.ts
  apps/vscode-ai-gateway/src/provider.ts
Due: format, check

feat(vscode-ai-gateway): Implement context length handling fixes
  apps/vscode-ai-gateway/src/logger.ts
  apps/vscode-ai-gateway/src/provider.test.ts
  apps/vscode-ai-gateway/src/provider.ts
Due: format, check

fix(vscode-ai-gateway): MIME validation, tool result schema, property tests, system prompt
  apps/vscode-ai-gateway/package.json
  apps/vscode-ai-gateway/src/models.ts
  apps/vscode-ai-gateway/src/provider.test.ts
  apps/vscode-ai-gateway/src/provider.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

chore(rfc): Complete RFC 005a wrap-up and move to Ready for Review
  docs/rfcs/README.md
Due: format

refactor(rfcs): Organize RFCs by stage directories (stage-0 through stage-4) and update README
  docs/agent-context/plan.toml
  docs/rfcs/008-high-fidelity-model-mapping.md
  docs/rfcs/README.md
  docs/rfcs/stage-0/001-standalone-repository.md
  docs/rfcs/stage-0/002-branding-identity.md
  docs/rfcs/stage-0/003a-streaming-adapter.md
  docs/rfcs/stage-0/003b-token-estimation.md
  docs/rfcs/stage-0/004-openresponses-integration.md
  docs/rfcs/stage-0/005b-authentication.md
  docs/rfcs/stage-0/005c-telemetry-privacy.md
  docs/rfcs/stage-0/007-migration-deprecation.md
  docs/rfcs/stage-0/008-high-fidelity-model-mapping.md
  docs/rfcs/stage-0/ref-stream-mapping.md
  docs/rfcs/stage-1/005a-configuration-logging.md
  docs/rfcs/withdrawn/003-streaming-package.md.archived
  docs/rfcs/withdrawn/005-configuration-enterprise.md.archived
Due: format

chore(rfcs): Remove duplicate RFC files from root directory
  docs/rfcs/005a-configuration-logging.md
  docs/rfcs/008-high-fidelity-model-mapping.md
Due: format

docs(friction): Add F007 - RFC stage directory organization
  FRICTION.md
Due: format

feat(vscode-ai-gateway): Implement RFC 005a Configuration & Logging
  FRICTION.md
  apps/vscode-ai-gateway/package.json
  apps/vscode-ai-gateway/src/logger.test.ts
  apps/vscode-ai-gateway/src/logger.ts
  apps/vscode-ai-gateway/src/models/filter.test.ts
  apps/vscode-ai-gateway/src/models/filter.ts
  apps/vscode-ai-gateway/src/tokens/estimator.test.ts
  apps/vscode-ai-gateway/src/tokens/estimator.ts
  docs/rfcs/README.md
Due: format, check

chore(plan): Mark RFC 005a tasks as complete
  docs/agent-context/plan.toml
Due: none

Update OpenAPI Spec
  .changeset/4mxnli.md
  .changeset/rg49so.md
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

[OpenAPI] Spec updates for vercel-api-js (#134)
  .changeset/4mxnli.md
  .changeset/rg49so.md
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

style: Apply formatter fixes to RFC 005a implementation
  docs/agent-context/plan.toml
Due: none

feat(vscode-ai-gateway): implement RFC 008 & 009 - token counting and model mapping (#3)
  .vscode/tasks.json
  VSCODE_SUMMARIZATION_RESEARCH.md
  apps/vscode-ai-gateway/package.json
  apps/vscode-ai-gateway/src/extension.ts
  apps/vscode-ai-gateway/src/logger.ts
  apps/vscode-ai-gateway/src/models.test.ts
  apps/vscode-ai-gateway/src/models.ts
  apps/vscode-ai-gateway/src/models/identity.ts
  apps/vscode-ai-gateway/src/provider.test.ts
  apps/vscode-ai-gateway/src/provider.ts
  apps/vscode-ai-gateway/src/tokens/cache.test.ts
  apps/vscode-ai-gateway/src/tokens/cache.ts
  apps/vscode-ai-gateway/src/tokens/counter.test.ts
  apps/vscode-ai-gateway/src/tokens/counter.ts
  docs/research/README.md
  docs/rfcs/001-standalone-repository.md
  docs/rfcs/002-branding-identity.md
  docs/rfcs/003-streaming-package.md
  docs/rfcs/004-openresponses-integration.md
  docs/rfcs/005-configuration-enterprise.md.archived
  docs/rfcs/005c-telemetry-privacy.md
  docs/rfcs/008-high-fidelity-model-mapping.md
  docs/rfcs/stage-0/009-token-counting-context-management.md
  docs/rfcs/stage-0/010-smart-context-compaction.md
  pnpm-lock.yaml
Due: format, check

Update OpenAPI Spec
  .changeset/dydv4s.md
  .changeset/oza2mp.md
  .changeset/y0c26.md
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

[OpenAPI] Spec updates for vercel-api-js (#135)
  .changeset/dydv4s.md
  .changeset/oza2mp.md
  .changeset/y0c26.md
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

feat(vscode-ai-gateway): quick wins and model filtering
  apps/vscode-ai-gateway/src/constants.ts
  apps/vscode-ai-gateway/src/models.test.ts
  apps/vscode-ai-gateway/src/models.ts
  apps/vscode-ai-gateway/src/provider.test.ts
  apps/vscode-ai-gateway/src/provider.ts
  apps/vscode-ai-gateway/src/tokens/cache.test.ts
  apps/vscode-ai-gateway/src/tokens/cache.ts
  apps/vscode-ai-gateway/src/tokens/counter.test.ts
  apps/vscode-ai-gateway/src/tokens/counter.ts
Due: format, check

feat(vscode-ai-gateway): implement RFC 005a configuration schema
  .gitignore
  apps/vscode-ai-gateway/package.json
  apps/vscode-ai-gateway/src/config.test.ts
  apps/vscode-ai-gateway/src/config.ts
  apps/vscode-ai-gateway/src/constants.ts
  apps/vscode-ai-gateway/src/extension.ts
  apps/vscode-ai-gateway/src/logger.test.ts
  apps/vscode-ai-gateway/src/logger.ts
  apps/vscode-ai-gateway/src/models.test.ts
  apps/vscode-ai-gateway/src/models.ts
  apps/vscode-ai-gateway/src/models/filter.test.ts
  apps/vscode-ai-gateway/src/models/filter.ts
  apps/vscode-ai-gateway/src/provider.ts
  apps/vscode-ai-gateway/src/tokens/estimator.test.ts
  apps/vscode-ai-gateway/src/tokens/estimator.ts
Due: format, check

fix(vscode-ai-gateway): include 'language' type models in picker
  apps/vscode-ai-gateway/src/models.ts
Due: format, check

Update OpenAPI Spec
  .changeset/0btyzl.md
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

[OpenAPI] Spec updates for vercel-api-js (#136)
  .changeset/0btyzl.md
  packages/vercel-api-js/src/generated/schemas.ts
  packages/vercel-api-js/src/generated/types.ts
Due: format, check

feat(vscode-ai-gateway): harden streaming fidelity with tool-call buffering
  apps/vscode-ai-gateway/src/provider.ts
  docs/rfcs/008-high-fidelity-model-mapping.md
Due: format, check

test(vscode-ai-gateway): add comprehensive streaming buffer tests
  apps/vscode-ai-gateway/src/provider.test.ts
Due: format, check

fix(vscode-ai-gateway): clear tool-call buffer on abort/error/finally
  apps/vscode-ai-gateway/src/provider.ts
Due: format, check

test(vscode-ai-gateway): add buffer cleanup tests for abort/error flows
  apps/vscode-ai-gateway/src/provider.test.ts
Due: format, check

docs(rfc-008): update Phase 5 with actual API schema and simplifications
  docs/rfcs/008-high-fidelity-model-mapping.md
Due: format

feat(vscode-ai-gateway): implement RFC 008 Phase 5 enrichment module
  apps/vscode-ai-gateway/src/constants.ts
  apps/vscode-ai-gateway/src/models/enrichment.test.ts
  apps/vscode-ai-gateway/src/models/enrichment.ts
Due: format, check

feat(vscode-ai-gateway): add input_modalities and persistent caching to enrichment
  apps/vscode-ai-gateway/src/models/enrichment.test.ts
  apps/vscode-ai-gateway/src/models/enrichment.ts
  docs/design/VISION-vscode-ai-gateway.md
Due: format, check

feat(vscode-ai-gateway): wire enrichment into provider flow
  apps/vscode-ai-gateway/src/provider.ts
  docs/rfcs/008-high-fidelity-model-mapping.md
Due: format, check

docs(rfc): create RFC 008a for enrichment-based capability refinement
  docs/rfcs/008a-enrichment-capability-refinement.md
Due: format

feat(enrichment): implement event-based capability refinement (RFC 008a)
  .github/agents/execute.md
  .github/agents/prepare.md
  .github/agents/recon-worker.md
  .github/agents/recon.md
  .github/agents/review.md
  apps/vscode-ai-gateway/package.json
  apps/vscode-ai-gateway/src/config.ts
  apps/vscode-ai-gateway/src/extension.ts
  apps/vscode-ai-gateway/src/models/enrichment.test.ts
  apps/vscode-ai-gateway/src/provider.ts
  docs/rfcs/008-high-fidelity-model-mapping.md
Due: format, check

docs: add RFC 009 for logging improvements and update project plan
  docs/rfcs/009-logging-infrastructure.md
Due: format

Path conditions:
  format: any of: *.{js,ts,tsx,json,md}
  check: any of: *.{js,ts,tsx,json}
